<h3>Usuarios Update</h3>

<form name="userForm" ng-submit="vm.createClientes()">

	<label for="">Apellidos</label>
	<input type="text" ng-model="vm.usuario.apellidos">

  <label for="">Cargo</label>
	<input type="text" ng-model="vm.usuario.cargo">

	<label for="">CorreoElectronico</label>
	<input type="text" ng-model="vm.usuario.correoElectronico">

	<label for="">Direccion</label>
	<input type="text" ng-model="vm.usuario.direccion">

	<label for="">NombreEmpresa</label>
	<input type="password" ng-model="vm.usuario.nombreEmpresa">

	<label for="">Nombres</label>
	<input type="text" ng-model="vm.usuario.nombres">

	<label for="">TelefonoMovil</label>
	<input type="password" ng-model="vm.usuario.telefonoMovil">

	<label for="">TelefonoFijo</label>
	<input type="text" ng-model="vm.usuario.telefonoFijo">
	</select>

<button type="submit">Actualizar</button>

</form>
